<!DOCTYPE html>
<html>
<title>Comments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://kit.fontawesome.com/2d2642681e.js" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous"></script> -->


<body>
  <button onclick="document.getElementById('commentsModal').style.display='block'" class="w3-button w3-black">Open
    Modal</button>
  <div id="commentsModal" class="w3-modal" " >
    <div class=" w3-modal-content w3-card-4 w3-container w3-animate-opacity w3-round w3-padding"
    style="width:50%;height:80vh;">
    <span onclick="document.getElementById('commentsModal').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>
    <div class="w3-container">
      <div class="w3-container w3-center w3-border-bottom w3-border-amber">
        <h2 class="w3-xlarge">Comments</h2>
      </div>
      <div class="w3-container" style="display:flex;flex-direction:column; gap:5px;height:430px;overflow-y:scroll;">
        <!-- for each loop start -->
        <div class="w3-container w3-border-bottom " style="display: flex; flex-direction:column;padding:5px;">
          <div class="w3-container" style="display: flex;flex-direction:row; gap:10px">
            <div class="image" style="width: 10%;"><img src="" alt="image" style="height: 10px; width:10px;"></div>
            <div class="name"><span style="font-weight: bold;">John Smith</span> <span
                class="w3-small w3-text-grey">Last Sunday</span></div>
          </div>
          <div class="w3-container " style="display: flex;flex-direction:row; gap:10px">
            <div class="image" style="width: 10%;"></div>
            <div class="">The comment of the John Smith here</div>
          </div>
        </div>
        <!-- for each loop end -->
      </div>
      <div class="w3-container w3-border-top w3-display-bottommiddle"
        style="display:flex;flex-direction:row;gap:10px;width:100%;padding:10px;">
        <input class="w3-input w3-border w3-border-amber w3-round w3-hover-border-black" type="text"
          placeholder="Write comment here...">
        <a href="#" class="w3-button w3-red w3-round"> Comment</a>
      </div>
    </div>
  </div>
  </div>
</body>
</html>