
<div class="w3-bar w3-padding w3-amber">
    <a href="/blog" class="w3-bar-item w3-button w3-round <%=activePage==='blogs'?'w3-black':'' %>"><i class="fa-solid fa-blog"></i> Blogs</a>
    <a href="/myBlogs" class="w3-bar-item w3-button w3-round <%=activePage==='myBlogs'?'w3-black':'' %>"><i class="fa-solid fa-hand"></i> myBlogs</a>
    <a href="/create" class="w3-bar-item w3-button w3-round <%=activePage==='createBlogs'?'w3-black':'' %>"><i class="fa-solid fa-circle-plus"></i> Create Blog</a>
    <!-- <a href="#" onclick=""><img src= style="width:60px; height:60px; border:1px solid rgb(250, 247, 247);border-radius:100%;" class="w3-right"></a> -->
    <a href="/logout" class="w3-bar-item w3-button w3-round w3-red w3-right"><i
            class="fa-solid fa-right-from-bracket"></i> Logout</a>     
</div>

