
<div class="w3-bar w3-padding w3-amber">
    <a href="/blog" class="w3-bar-item w3-button w3-round <%=activePage==='blogs'?'w3-black':'' %>"><i class="fa-solid fa-blog"></i> Blogs</a>
    <a href="/myBlogs" class="w3-bar-item w3-button w3-round <%=activePage==='myBlogs'?'w3-black':'' %>"><i class="fa-solid fa-hand"></i> myBlogs</a>
    <a href="/create" class="w3-bar-item w3-button w3-round <%=activePage==='createBlogs'?'w3-black':'' %>"><i class="fa-solid fa-circle-plus"></i> Create Blog</a>
   <div class="w3-container w3-right"> 
    <a onclick="toggleDropdown()"><img src="<%=user.image%>" style="width: 50px; height: 50px; border: 1px solid rgb(250, 247, 247); border-radius: 100%;"></a>
    <div id="dropdownMenu" class="w3-dropdown-content w3-bar-block w3-card-4 w3-round w3-animate-zoom" style="right:5px;left:auto;">
        <a href="/viewProfile" class="w3-bar-item w3-button w3-hover-black"><i class="fa-solid fa-user" ></i> View Profile</a>
        <a href="/accountSettings" class="w3-bar-item w3-button w3-hover-blue"><i class="fa-solid fa-key" ></i> Account Settings</a>
        <a href="/logout" class="w3-bar-item w3-button w3-hover-red"><i class="fa-solid fa-right-from-bracket" ></i> Logout</a>
    </div>
</div>


</div>

<script>
    function toggleDropdown() {
        var dropdownMenu = document.getElementById("dropdownMenu");
        dropdownMenu.classList.toggle("w3-show");
    }
</script>
